#body{
	margin: auto;
	width: 1000px;
}
#title{
	padding-top:10px;
	padding-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#search{
	margin-top: 10px;
	font-family: 'Times New Roman', Times, serif;
}
#blank{
	float: left;
	width: 1000px;
	height: 50px;
}
#blank2{
	float: left;
	width: 500px;
	height: 50px;
}
#picture{
	float: left;
	width:230px;
	height: 230px;
}
#picturedetail{
	float: left;
	width:770px;
	height: 230px;
}
#login{
	margin: auto;
	width: 250px;
}
#register{
	width:200px;
	margin: auto;
}
#registermain{
	width:600px;
	margin: auto;
}
#comment{
	margin-top: 50px;
	float: left;
	width:1000px;
	margin-left: 150px;
	margin-right: 150px;
}
#addcomment{
	margin-top: 50px;
	width:1000px;
	float: left;
	margin-left: 150px;
	margin-right: 150px;
}
#complaint{
	height: 100px;
	width: 700px;
}
#left{
	float: left;
	width:400px;
	height: 600px;
	margin-left: 50px;
	margin-right: 50px;
}
#left{
	margin-left: 50px;
	margin-right: 50px;
	float: left;
	width:400px;
	height: 600px;
}
.front_daohangbj{
	width:100%;
	float:left;
	height:44px;
	background-color: #F5D0A9;
}
.front_daohang {
	width:1000px; 
	float:left; 
	height:44px; 
	line-height:44px; 
	font-size:14px; 
	color:#fff; 
	font-weight:bold;

}

.front_daohang li{
	list-style-type:none;
	float:left; 
	text-align:center; 
	height:44px; 
	line-height:40px;
	padding:0 20px; 
	position:relative;
}
.front_daohang li:hover{ 
	background:#6c0004; 
	color:#fff; 
	cursor:pointer;
}
.front_daohang a{
	color:#fff;
	text-decoration:none;
}
#content{
	float:left;
	width: 1000px;
	height: 750px;
		
}
#req{
	margin: auto;
	width: 350px;
}
#footer{
	float:left;
    background-color: #F0FFFF;
    height: 70px;
    width:1000px;
}
